.tic-tac-toe-board {
  display: grid;
  max-width: fit-content;
}

.tic-tac-toe-cell {
  border: 1px solid #ccc;
  text-align: center;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  -webkit-text-stroke: 1px black;
  font-size: 30px;
  width: 100px;
  cursor: pointer;
}

.tic-tac-toe-won {
  background-color: #66bb6a;
}

.tic-tac-toe-lost {
  color: #ff7043;
}

.tic-tac-toe-cross {
  color: #2196f3;
}

.tic-tac-toe-circle {
  color: #ff4081;
}

.tic-tac-toe-result {
  font-weight: 600;
}

.X_WON {
  color: #2196f3;
}

.O_WON {
  color: #ff4081;
}
